@model Project2.Models.Appointment


@{ ViewData["Title"] = "Edit Appointment by Doctor"; }

<h2 style="color: #1b6ec2;text-shadow: 1px 1px 1px #1b6ec2">Edit hospitalised Patient's Appointment by Doctor</h2>
<br />


<div class="row">
    <div class="col-md-4">
        <form asp-action="EditByDoctor" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId" disabled></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId" disabled></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control"  />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptoms" class="control-label"></label>
                <input asp-for="Symptoms" class="form-control" disabled  />
                <span asp-validation-for="Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Examination" class="control-label"></label>
                <input asp-for="Examination" class="form-control" />
                <span asp-validation-for="Examination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Therapy" class="control-label"></label>
                <input asp-for="Therapy" class="form-control" />
                <span asp-validation-for="Therapy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalReport" class="control-label"></label>
                <input asp-for="MedicalReport" class="form-control" disabled />
                <span asp-validation-for="MedicalReport" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group" hidden>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>






@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });</script>
}